<div *ngIf="error$ | async as object">
  <div class="alert alert-danger">
    <strong>Error!</strong> {{errorMessage}}
  </div>
</div>

<table class="table table-hover" *ngIf="tasks">
  <thead>
  <tr>
    <td>Task Id</td>
    <td>Task Name</td>
  </tr>
  </thead>
  <tbody *ngFor="let task of tasks | async">
  <tr>
      <td>{{ task.id }}</td>
      <td>{{ task.name }}</td>
      <td>
        <button (click)="deleteTodo(task)" class="btn btn-danger">Delete</button>
      </td>
      <td>
        <button (click)="openEditModal(task)" class="btn btn-success">Edit</button>
      </td>
  </tr>
  </tbody>
</table>

<ng-template #errorRequest>
  <div class="alert alert-danger">
    <strong>Error!</strong> Server error!
  </div>
</ng-template>
